SDKROOT = macosx
SUPPORTED_PLATFORMS = macosx
MACOSX_DEPLOYMENT_TARGET = 14.0
SUPPORTS_MACCATALYST = NO
PRODUCT_NAME = Aidoku
PRODUCT_BUNDLE_IDENTIFIER = app.aidoku.macOS
SWIFT_VERSION = 5.0
INFOPLIST_FILE = macOS/Info.plist
GENERATE_INFOPLIST_FILE = NO
CODE_SIGN_IDENTITY = -
CODE_SIGN_STYLE = Manual
CODE_SIGN_ENTITLEMENTS = macOS/macOS.entitlements
ENABLE_HARDENED_RUNTIME = NO
ENABLE_APP_SANDBOX = NO
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
